.vscode/
.idea/
*.exe
*.exe~
pg_data/
config.yaml
config/config.yaml
config/online_stats.yaml
depersonalization.yaml

# Online Stats generated data
web/static/data/online_stats.json
web/static/data/state.json