<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}


<div class="position-static">
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1 class="display-1">{{ .user }}</h1>
        <form method="post" name="collect">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Scan and
                Collect</button>
        </form>
    </div>
</div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}