<!--ad.html-->

<div class="container mb-4">
    <div class="card alert-success">
        <div class="card-body">
            <h5 class="card-title">Онлайн - 18.07.2025</h5>
            <div>Онлайн за 3 месяца показывает теперь еще и максимум за день.</div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Онлайн - 29.07.2025</h5>
            <div>
                Добавлено отображение ивентов и событий таву кеки (добавляется админом вручную). Можете предложить свое
                в <a href="/feedback">ФИДБЭКЕ</a> с указанием даты и события!
            </div>
        </div>
    </div>
</div>
