<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="alert alert-info mt-4" role="alert">
    <h4 class="alert-heading">Пояснение к информации!</h4>
    <p>Всё разделено на два блока: фракций и ролей. Цифра рядом с названием группы - сколько всего было обработано штук.</p>
    <hr>
    <p>Винрейт определяется по довольно сложной схеме. Если у фракции есть задачи, типо культа и шедоулингов, то выполнение задачи является победой фракции.
        Если же задач у фракции нет, типо трейторов и чейнджлингов, то победой будет является выполнение всех задач всех членов фракции.</p>
    <p>С ролями все легче. Если задач нет, то автоматическая победа.</p>
    <hr>
    <p>Статистика малфа сломана!</p>
    <hr>
    <p>Колонки:</p>
    <ul>
        <li>Среднее ливеров - это примерный показатель количества людей, которые каким-либо образом вышли из раунда в начале игры.
            Конкретно ведется подсчет между 5-й и 30-й минутой. Для ливнувших через крио идёт надбавка в 15 минут.</li>
        <li>Винрейт задач - коэффициент, который показывает, сколько было выполнено задач. На самом деле, не несет много смысла.</li>
    </ul>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <div class="fs-5 badge bg-secondary text-wrap">
                    Фракции - {{ .factionsSum }}
                </div>
            </ul>
            <div class="table-responsive">
                <table id="factions" class="table table-sm table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Режим</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Побед</th>
                        <th scope="col">Винрейт</th>
                        <th scope="col">Членов</th>
                        <th scope="col">Всего задач</th>
                        <th scope="col">Выполнено задач</th>
                        <th scope="col">Винрейт задач</th>
                        <th scope="col">Среднее ливеров<br>в начале раунда</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range .factionsCount }}
                        <tr>
                            <th scope="row">{{ .FactionName }}</th>
                            <td>{{ .Count }}</td>
                            <td>{{ .Wins }}</td>
                            <td class="d-flex">{{ .WinrateUint }}%
                                <span id="{{ .FactionName }}"
                                      class="statistics-faction btn btn-outline-secondary btn-sm btn-outline-secondary ms-auto"
                                      data-bs-toggle="modal"
                                      data-bs-target="#modalStatistics"
                                      type="button" style="font-size: 10px;"
                                      title="Динамика винрейтов"
                                    >
                                     <i class="fa-solid fa-chart-simple"></i>
                                </span>
                            </td>
                            <td>{{ .MembersCount }}</td>
                            <td>{{ .TotalObjectives }}</td>
                            <td>{{ .CompletedObjectives }}</td>
                            <td>{{ .WinrateObjectivesUint }}%</td>
                            <td>{{ .AvgLeavers }}</td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <ul class="list-group list-group-flush">
                <div class="fs-5 badge bg-secondary text-wrap">
                    Роли - {{ .rolesSum }}
                </div>
            </ul>
            <div class="table-responsive">
                <table id="roles" class="table table-sm table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Роль</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Побед</th>
                        <th scope="col">Винрейт</th>
                        <th scope="col">Всего задач</th>
                        <th scope="col">Выполнено задач</th>
                        <th scope="col">Винрейт задач</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range .rolesCount}}
                        <tr>
                            <th scope="row">{{ .RoleName }}</th>
                            <td>{{ .Count }}</td>
                            <td>{{ .Wins }}</td>
                            <td class="d-flex">{{ .WinrateUint }}%
                                <span id="{{ .RoleName }}"
                                      class="statistics-role btn btn-outline-secondary btn-sm btn-outline-secondary ms-auto"
                                      data-bs-toggle="modal"
                                      data-bs-target="#modalStatistics"
                                      type="button" style="font-size: 10px;"
                                      title="Динамика винрейтов"
                                >
                                     <i class="fa-solid fa-chart-simple"></i>
                                </span>
                            </td>
                            <td>{{ .TotalObjectives }}</td>
                            <td>{{ .CompletedObjectives }}</td>
                            <td>{{ .WinrateObjectivesUint }}%</td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Vertically centered modal -->
<div class="modal fade" tabindex="-1" id="modalStatistics" aria-labelledby="modalStatisticsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <canvas id="myChart"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}

<script>
    $(function () {
        $('#roles').DataTable({
            paging: false,
            searching: false,
            info: false,
        });
        $('#factions').DataTable({
            paging: false,
            searching: false,
            info: false,
        });
    });

    $(".statistics-faction").click(function () {
        const faction_str = this.id
        $.ajax({
            url: `/api/mode_winrates_by_month`,
            data: {faction: faction_str},
            success: function (data) {
                const chart = $("#myChart")
                new Chart(chart, {
                    type: 'line',
                    data: {
                        labels: Object.keys(data),
                        datasets: [{
                            label: 'winrate, %',
                            data: Object.values(data),
                            borderWidth: 1
                        }]
                    },
					options: {
						scales: {
							y: {
								suggestedMin: 0,
								suggestedMax: 100
							}
						}
					}
                })
                $(".modal-title").text(faction_str)
                const myModal = bootstrap.Modal.getOrCreateInstance($("#modalStatistics"))
                myModal.show()
            }
        })
    });

    $(".statistics-role").click(function () {
        const role_str = this.id
        $.ajax({
            url: `/api/mode_winrates_by_month`,
            data: {role: role_str},
            success: function (data) {
                const chart = $("#myChart")
                new Chart(chart, {
                    type: 'line',
                    data: {
                        labels: Object.keys(data),
                        datasets: [{
                            label: 'winrate, %',
                            data: Object.values(data),
                            borderWidth: 1
                        }]
					},
					options: {
						scales: {
							y: {
								suggestedMin: 0,
								suggestedMax: 100
							}
						}
					}
                })
                $(".modal-title").text(role_str)
                const myModal = bootstrap.Modal.getOrCreateInstance($("#modalStatistics"))
                myModal.show()
            }
        })
    });

    $("#modalStatistics").on('hidden.bs.modal', function (event) {
        $('#myChart').replaceWith('<canvas id="myChart"></canvas>');
    })
</script>