<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Версия статистики: {{ .version }}</li>
                <li class="list-group-item">Последнее обновление БД: {{ .lastDate }}</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Раундов в статистике: {{ .totalRounds }}</li>
                <li class="list-group-item">Раундов на первом: {{ .alphaRounds }}</li>
                <li class="list-group-item">Раундов на втором: {{ .betaRounds }}</li>
                <li class="list-group-item">Раундов на третьем: {{ .gammaRounds }}</li>
                <li class="list-group-item">ᅠ</li>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#crewDeathsSum"
                        aria-expanded="false" aria-controls="collapseExample">
                    Смертей экипажа: {{ .crewDeathsSum }}
                </button>
                <div class="collapse" id="crewDeathsSum">
                    {{ range .crewDeathsCount }}
                        <li class="list-group-item ps-3 pt-0 pb-0">{{ .Key }}: {{ .Value }}</li>
                    {{ end }}
                </div>
                <li class="list-group-item">ᅠ</li>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#roleDeathsSum"
                        aria-expanded="false" aria-controls="collapseExample">
                    Смертей ролей: {{ .roleDeathsSum }}
                </button>
                <div class="collapse" id="roleDeathsSum">
                    {{ range .roleDeathsCount }}
                        <li class="list-group-item ps-3 pt-0 pb-0">{{ .Key }}: {{ .Value }}</li>
                    {{ end }}
                </div>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group list-group-flush">
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#modesSum"
                        aria-expanded="false" aria-controls="collapseExample">
                    Количество режимов: {{ .modesSum }}
                </button>
                <div class="collapse" id="modesSum">
                    {{ range .modesCount }}
                        <li class="list-group-item ps-3 pt-0 pb-0">{{ .Key }}: {{ .Value }}</li>
                    {{ end }}
                </div>
            </ul>
        </div>
    </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}