{{ template "header.html" .}}

<div class="alert alert-info mt-4" role="alert">
    <h4 class="alert-heading">Пояснение к информации!</h4>
    Здесь всё является средним значением, кроме поля "Выбрано раз"
</div>


<div class="container">
    <div id="maps_placeholder">
        <div class="spinner-border" role="status"></div>
    </div>
</div>

{{ template "footer.html" .}}
<script>
    const HumanizeAttribute = {
        "Count": "Выбрано раз",
        "Duration": "Длительность",
        "Crewscore": "Очков станции",
        "Stuffshipped": "Карго отправило предметов",
        "Stuffharvested": "Собрано растений",
        "Oremined": "Добыто руды",
        "Researchdone": "Исследований",
        "Powerloss": " АПЦ с 0% заряда",
        "Mess": "Количество Грязи",
        "Meals": "Еды сделано",
        "Nuked": "Станция взорвана",
        "Recantags": "Деконверчено антагов",
        "Crewescaped": "Улетело экипажа",
        "Crewdead": "Умерло экипажа",
        "Crewtotal": "Всего экипажа",
        "Crewsurvived": "Выжило экипажа",
        "Foodeaten": "Съедено еды",
        "Clownabuse": "Ударов по клоуну",
        "Rating": "Оценка карты",
    };

    const Server2Name = {
        "game.taucetistation.org:2506": "Tau I",
        "game.taucetistation.org:2507": "Tau II",
        "game.taucetistation.org:2508": "Tau III",
    };

    function sec2duration(seconds) {
        let hours = Math.floor(seconds / 60 / 60);
        let minutes = Math.floor(seconds / 60) - hours * 60;
        hours = (hours >= 10) ? hours : "0" + hours
        minutes = (minutes >= 10) ? minutes : "0" + minutes
        return `${hours}:${minutes}`
    }

    $("#date_start").change(function () {
        startPost({date_start: $(this).val()})
    });

    $("#date_end").change(function () {
        startPost({date_end: $(this).val()})
    });


    startPost({})

    function startPost(dates) {
        $("#maps_placeholder").html(`<div class="spinner-border" role="status"></div>`)
        $.post("/api/maps", dates, createHtml, "json")
    }

    function createHtml(data) {
        let servers = data.reduce((acc, elem) => acc.add(elem.Server), new Set())
        servers = Array.from(servers).sort()

        let dataByAttribute = {}
        for (const datum of data) {
            for (const attributesKey in datum) {
                if (attributesKey === "Name" || attributesKey === "Server") {
                    continue
                }
                if (!dataByAttribute[attributesKey]) {
                    dataByAttribute[attributesKey] = []
                }
                const arr = dataByAttribute[attributesKey]
                arr.push({
                    Name: datum.Name,
                    Server: datum.Server,
                    Value: datum[attributesKey]
                })
                for (const elem of dataByAttribute[attributesKey]) {
                    dataByAttribute[attributesKey].sort((a, b) => (a.Name > b.Name) ? 1 : ((b.Name > a.Name) ? -1 : 0))
                }
            }
        }

        let uniqMapsByServer = []
        for (const datum of data) {
            if (!uniqMapsByServer[datum.Server]) {
                uniqMapsByServer[datum.Server] = []
            }
            uniqMapsByServer[datum.Server].push(datum.Name)
            uniqMapsByServer[datum.Server].sort()
        }

        let html = ""
        for (const Server of servers) {
            html += `<p class='h2 text-center'>${Server2Name[Server]}</p>`
            html += `<div class="table-responsive">`
            html += `<table id="${Server.substring(Server.length - 4)}" class="table table-bordered table-sm table-hover table-striped">`

            html += `<thead>`
            html += `<tr>`
            html += `<th># Средние значения</th>`
            for (const map of uniqMapsByServer[Server]) {
                html += `<th class='text-center'>${map}</th>`
            }
            html += `</tr>`
            html += `</thead>`
            html += `<tbody>`
            for (const key in dataByAttribute) {
                html += `<tr>`
                html += `<th>${HumanizeAttribute[key]}</th>`

                for (const elem of dataByAttribute[key]) {
                    if (elem.Server !== Server) {
                        continue;
                    }
                    if (key === "Duration") {
                        html += `<td class='text-center'>${sec2duration(elem.Value)}</td>`
                    } else {
                        html += `<td class='text-center'>${Math.round(elem.Value * 100) / 100}</td>`
                    }
                }
                html += `</tr>`
            }
            html += `</tbody>`
            html += `</table>`
            html += `</div>`
        }

        $("#maps_placeholder").html(html);

        for (const Server of servers) {
           $(`#${Server.substring(Server.length - 4)}`).DataTable({
                paging: false,
                searching: false,
                info: false,
                ordering: false,
            });
        }
    }
</script>