{{ template "header.html" .}}

<div class="alert alert-info mt-4" role="alert">
    <h4 class="alert-heading">Пояснение к информации!</h4>
    Здесь всё является средним значением, кроме поля "Выбрано раз"
</div>


<div class="container">
    <div id="maps_placeholder">
        <div class="spinner-border" role="status"></div>
    </div>
</div>

{{ template "footer.html" .}}
<script>
    const HumanizeAttribute = {
        "Picked": "Выбрано раз",
        "AvgDuration": "Длительность",
        "AvgCrewsocre": "Очков станции",
        "AvgStuffshipped": "Карго отправило предметов",
        "AvgStuffharvested": "Собрано растений",
        "AvgOremined": "Добыто руды",
        "AvgResearchdone": "Исследований",
        "AvgPowerloss": " АПЦ с 0% заряда",
        "AvgMess": "Количество Грязи",
        "AvgMeals": "Еды сделано",
        "AvgNuked": "Станция взорвана",
        "AvgRecAntags": "Деконверчено антагов",
        "AvgCrewEscaped": "Улетело экипажа",
        "AvgCrewDead": "Умерло экипажа",
        "AvgCrewTotal": "Всего экипажа",
        "AvgCrewSurvived": "Выжило экипажа",
        "AvgFoodeaten": "Съедено еды",
        "AvgClownabuse": "Ударов по клоуну",
    };

    const Server2Name = {
        "game.taucetistation.org:2506": "Tau I",
        "game.taucetistation.org:2507": "Tau II",
        "game.taucetistation.org:2508": "Tau III",
    };

    function sec2duration(seconds) {
        let hours = Math.floor(seconds / 60 / 60);
        let minutes = Math.floor(seconds / 60) - hours * 60;
        hours = (hours > 10) ? hours : "0" + hours
        minutes = (minutes > 10) ? minutes : "0" + minutes
        return `${hours}:${minutes}`
    }

    $.getJSON("/api/maps", function (data) {
        let servers = data.reduce((acc, elem) => acc.add(elem.ServerID), new Set())
        servers = Array.from(servers).sort()

        let dataByAttribute = {}
        for (const datum of data) {
            for (const attributesKey in datum.Attributes) {
                if (!dataByAttribute[attributesKey]) {
                    dataByAttribute[attributesKey] = []
                }
                const arr = dataByAttribute[attributesKey]
                arr.push({
                    MapName: datum.MapName,
                    ServerID: datum.ServerID,
                    Value: datum.Attributes[attributesKey]
                })
                for (const elem of dataByAttribute[attributesKey]) {
                    dataByAttribute[attributesKey].sort((a, b) => (a.MapName > b.MapName) ? 1 : ((b.MapName > a.MapName) ? -1 : 0))
                }
            }
        }
        console.log(dataByAttribute)

        let uniqMapsByServer = []
        for (const datum of data) {
            if (!uniqMapsByServer[datum.ServerID]) {
                uniqMapsByServer[datum.ServerID] = []
            }
            uniqMapsByServer[datum.ServerID].push(datum.MapName)
            uniqMapsByServer[datum.ServerID].sort()
        }
        console.log(uniqMapsByServer)

        let html = ""
        for (const serverID of servers) {
            html += `<p class='h2 text-center'>${Server2Name[serverID]}</p>`
            html += `<div class="table-responsive">`
            html += `<table id="${serverID.substring(serverID.length - 4)}" class="table table-bordered table-sm table-hover table-striped">`

            html += `<thead>`
            html += `<tr>`
            html += `<th># Средние значения</th>`
            for (const map of uniqMapsByServer[serverID]) {
                html += `<th class='text-center'>${map}</th>`
            }
            html += `</tr>`
            html += `</thead>`
            html += `<tbody>`
            for (const key in dataByAttribute) {
                html += `<tr>`
                html += `<th>${HumanizeAttribute[key]}</th>`

                for (const elem of dataByAttribute[key]) {
                    if (elem.ServerID !== serverID) {
                        continue;
                    }
                    if (key === "AvgDuration") {
                        html += `<td class='text-center'>${sec2duration(elem.Value)}</td>`
                    } else {
                        html += `<td class='text-center'>${Math.round(elem.Value * 100) / 100}</td>`
                    }
                }
                html += `</tr>`
            }
            html += `</tbody>`
            html += `</table>`
            html += `</div>`
        }

        $("#maps_placeholder").replaceWith(html);
    })
</script>