<!--menu.html-->

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Statistics</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/gamemodes">Gamemodes</a></li>
            <li><a class="dropdown-item" href="/cult">Cult</a></li>
            <li><a class="dropdown-item" href="/player">Players</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/admin/secrets">Secrets</a>
    </li>
</ul>