<!--menu.html-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand display-1" href="{{.baseUrl}}/"><b>SS13 Statistics</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Statistics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{.baseUrl}}/gamemodes">Gamemodes</a></li>
                        <li><a class="dropdown-item" href="{{.baseUrl}}/cult">Cult</a></li>
                        <li><a class="dropdown-item" href="https://exery.ru/ckey2char/">Players</a></li>
                        <li><a class="dropdown-item" href="{{.baseUrl}}/uplink">Uplink</a></li>
                        <li><a class="dropdown-item" href="{{.baseUrl}}/objectives">Objectives</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{.baseUrl}}/admin/secrets">Secrets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{.baseUrl}}/rounds">Rounds</a>
                </li>
            </ul>
            {{ $l := not .serverCheckboxes }}
            {{ if ne $l true }}
                {{ $l = len .serverCheckboxes }}
                {{ if ne $l 0 }}
                    <form class="d-flex" method="post">
                        <div class="mt-2">
                            {{ range $k, $checkboxState := .serverCheckboxes }}
                                <span class="form-check-inline">
                                <input type="checkbox" class="form-check-input" id="{{ $k }}" value="{{ $k }}"
                                       name="server[]" {{ $checkboxState }}>
                                <label class="form-check-label" for="{{ $k }}">{{ $k }}</label>
                            </span>
                            {{ end }}
                        </div>
                        <button type="submit" class="btn btn-outline-secondary">Update</button>
                    </form>
                {{ end }}
            {{ end }}
        </div>
    </div>
</nav>