{{ template "header.html" .}}

<div class="alert alert-info mt-4" role="alert">
    <h4 class="alert-heading">Пояснение к информации!</h4>
    Изначально к каждому присвоено значение в <span style="color: darkblue">1000 ММР</span>.
    <br>
    При победе на соло антагонисте или командой вам начисляется <span style="color: limegreen">25 очков</span>.
    При поражение снимается <span style="color: red">30 очков</span>.
</div>


<div class="container">
    <div class="text-center fs-5" id="mmr_pohui">
        <div class="row justify-content-center ">
            <div class="col-auto">
                <div id="mmr_placeholder">
                    <div class="spinner-border" role="status"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ template "footer.html" .}}
<script>
    function getRankImage(ckey, mmrPosition, totalPositions) {
        let img = "";
        let alt = "";
        if (mmrPosition === 1) {
            img = "evilcrab";
            alt = "top1";
        } else if (mmrPosition === 2) {
            img = "crab";
            alt = "top2";
        } else if (mmrPosition === 3) {
            img = "rat";
            alt = "top3";
        } else if (ckey === "kiborg04") {
            img = "kiborg";
            alt = "god";
        } else if (mmrPosition > 3 && mmrPosition <= totalPositions / 2) {
            img = "mushroom";
            alt = "default_chel";
        } else if (mmrPosition === totalPositions || mmrPosition >= totalPositions - 10) {
            img = "chic";
            alt = "unrobust";
        } else {
            img = "mouse";
            alt = "default_chel";
        }
        return `<img src="/web/static/images/ranks/${img}.png" alt="${alt}" width="32px" height="32px" style="margin-top: -50%; position: inherit;">`
    }

    function getRow(num, img, ckey, mmr, tr_class = "") {
        let row = `<tr class='${tr_class}'>`
        row += `<th class='text-end'>${num}</th>`
        row += `<th class='text-start' >${img}</th>`
        row += `<td class='text-start'>${ckey}</td>`
        row += `<td class='text-end'>${mmr}</td>`
        row += `</tr>`
        return row
    }

    let mmrData;
    $.getJSON("/api/mmr", function (data) {
        mmrData = new Map([...data.entries()].sort((a, b) => b[1].MMR - a[1].MMR));
        let html = `<table id="mmr_table" class="table table-responsive table-sm table-borderless">`;
        html += `<thead>`
        html += `<tr>`
        html += `<th class='text-end'>#</th>`
        html += `<th class='text-start'></th>`
        html += `<th class='text-start'>Ckey</th>`
        html += `<th class='text-end'>MMR</th>`
        html += `</tr>`
        html += `</thead>`
        html += `<tbody>`

        const top10 = [];
        let indx = 0;
        let mmrPosition = 1;
        for (const [key, value] of mmrData) {
            if (indx === 10) {
                break;
            }
            top10.push(getRow(indx + 1, getRankImage(value.Ckey, mmrPosition, mmrData.size), value.Ckey, value.MMR))
            indx++;
            mmrPosition++;
        }
        top10.forEach((v) => html += v);

        html += getRow("<hr>", "<hr>", "<hr>", "<hr>")

        html += getRow("", "", "<input type='text' name='ckey_finder' id='ckey_finder' placeholder='ckey' />", "", "mmr_input")

        html += getRow("<hr>", "<hr>", "<hr>", "<hr>")

        mmrData = new Map([...data.entries()].sort((a, b) => a[1].MMR - b[1].MMR));
        const antiTop10 = [];
        indx = 0;
        mmrPosition = mmrData.size
        for (const [key, value] of mmrData) {
            if (indx === 10) {
                break;
            }
            antiTop10.push(getRow(mmrData.size - indx, getRankImage(value.Ckey, mmrPosition, mmrData.size), value.Ckey, value.MMR))
            indx++;
            mmrPosition--;
        }
        antiTop10.reverse();
        antiTop10.forEach((v) => html += v);

        html += "</tbody>"
        html += "</table>"
        $("#mmr_placeholder").replaceWith(html);
    })

    function getIndxByCkey(ckey, map) {
        let indx = 0;
        for (const [key, value] of map) {
            if (value.Ckey === ckey) {
                return indx;
            }
            indx++;
        }
        return -1;
    }

    $('#mmr_pohui').keyup(function () {
        const val = $('#ckey_finder').val().toLowerCase();
        if (val === "") {
            $('#mmr_table tbody').find('.can_remove_me').each(function () {
                $(this).remove()
            });
            return
        }

        const mmrSorted = new Map([...mmrData.entries()].sort((a, b) => b[1].MMR - a[1].MMR));
        const filtered = new Map([...mmrSorted.entries()].filter(value => value[1].Ckey.indexOf(val) >= 0));

        let html = "";

        const filteredHtml = [];
        let indx = 0;
        let mmrPosition = 1;
        for (const [key, value] of filtered) {
            if (indx === 10) {
                break;
            }
            filteredHtml.push(
                [
                    getIndxByCkey(value.Ckey, mmrSorted),
                    getRow(getIndxByCkey(value.Ckey, mmrSorted) + 1, getRankImage(value.Ckey, getIndxByCkey(value.Ckey, mmrSorted) + 1, mmrData.size), value.Ckey, value.MMR, "can_remove_me")
                ]);
            indx++;
            mmrPosition++;
        }
        filteredHtml.sort((a, b) => a[0] - b[0]);
        filteredHtml.forEach((v) => html += v[1]);

        $('#mmr_table tbody').find('.can_remove_me').each(function () {
            $(this).remove()
        });
        $('#mmr_table tbody').find('.mmr_input').each(function () {
            $(this).after(html)
        });
    });

</script>