{{ template "header.html" . }}

<div class="container">
    <div class="row mt-3 mb-3">
        <ul class="nav nav-tabs nav-fill" role="tablist" aria-orientation="horizontal">
            <li class="nav-item">
                <button
                        id="main-tab"
                        class="nav-link active"
                        type="button"
                        role="tab"
                        aria-current="page"
                        data-bs-toggle="pill"
                        data-bs-target="#main"
                        aria-expanded="true"
                        aria-controls="main"
                >Основное
                </button>
            </li>
            <li class="nav-item">
                <button
                        id="buys-tab"
                        class="nav-link"
                        type="button"
                        role="tab"
                        aria-current="page"
                        data-bs-toggle="pill"
                        data-bs-target="#buys"
                        aria-expanded="false"
                        aria-controls="buys"
                >Закупы
                </button>
            </li>
            <li class="nav-item">
                <button
                        id="other-tab"
                        class="nav-link"
                        type="button"
                        role="tab"
                        aria-current="page"
                        data-bs-toggle="pill"
                        data-bs-target="#other"
                        aria-expanded="false"
                        aria-controls="other"
                >Разное
                </button>
            </li>
        </ul>
    </div>
    <div class="row tab-content">
        <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
            <div class="row mt-2">
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <div class="fs-5 badge bg-secondary text-wrap nav-fill">
                            Персонажи
                        </div>
                    </ul>
                    <div id="characters"><div class="spinner-border" role="status"></div></div>
                </div>
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <div class="fs-5 badge bg-secondary text-wrap nav-fill">
                            Рольки
                        </div>
                    </ul>
                    <div id="roles" class="col"><div class="spinner-border" role="status"></div></div>
                </div>
            </div>
            <div class="col">
                <ul class="list-group list-group-flush mb-2">
                    <div class="fs-5 badge bg-secondary text-wrap nav-fill">
                        Раунды на рольках
                    </div>
                </ul>
                <div id="lastRounds" class="row"><div class="spinner-border" role="status"></div></div>
            </div>
        </div>
        <div class="tab-pane fade" id="buys" role="tabpanel" aria-labelledby="buys-tab">
            <div id="role-buys-data"><div class="spinner-border" role="status"></div></div>
        </div>
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
            <div class="row mt-2">
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <div class="fs-5 badge bg-secondary text-wrap nav-fill">
                            Достижения
                        </div>
                    </ul>
                    <div id="achievements"><div class="spinner-border" role="status"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ template "footer.html" . }}

<script>
    const playerCkey = window.location.pathname.split("/").pop();
    $("#characters").ready(function () {
        $.ajax({
            url: `/api/player/characters`,
            data: {ckey: playerCkey},
            success: outputFoundByCkeyChars,
            error: function (jqXHR) {
                error(jqXHR, "#characters")
            },
        })
    });

    function outputFoundByCkeyChars(data) {
        let html = `<div class="row">`;
        const itemsNum = 16;
        for (let cols = 0; cols < Math.floor((data.length-1) / itemsNum) + 1; cols++) {
            html += `<div class="col"><ul class="list-group list-group-flush">`;
            for (let i = itemsNum * cols; i < Math.min(itemsNum + itemsNum * cols, data.length); i++) {
                html += `
                <li class="list-group-item">
                    ${data[i].MindName}
                </li>`;
            }
            html += `</ul></div>`;
        }
        html += "</div>"
        $('#characters').html(html);
    }

    $("#roles").ready(function () {
        $.ajax({
            url: `/api/player/roles`,
            data: {ckey: playerCkey},
            success: outputCkeyRoles,
            error: function (jqXHR) {
                error(jqXHR, "#roles")
            },
        })
    });

    function outputCkeyRoles(data) {
        let html = `
       <div class="table-responsive"><table id="ckey-roles-table" class="table table-sm table-hover">
       <thead>
       <tr>
       <th scope="col">Роль</th>
       <th scope="col">Раундов</th>
       <th scope="col">Побед</th>
       <th scope="col">Винрейт</th>
       </tr>
       </thead>`;
        for (const indx in data) {
            let color = "table-secondary";
            const winrate = data[indx].Wins * 100 / data[indx].Count;
            if(winrate > 75)
                color = "table-success";
            else if(winrate < 40)
                color = "table-danger";
            html += `
            <tr class=${color} >
                <td>${data[indx].RoleName}</td>
                <td>${data[indx].Count}</td>
                <td>${data[indx].Wins}</td>
                <td>${Math.round(winrate)}%</td>
            </tr>
            `;
        }
        html += `</table></div>`;
        $('#roles').html(html);
        $(`#ckey-roles-table`).DataTable({
            info: false,
            pageLength: 18,
            searching: false,
            lengthChange: false,
        });
    }

    $("#lastRounds").ready(function () {
        $.ajax({
            url: `/api/player/roles_rounds`,
            data: {ckey: playerCkey},
            success: outputCkeyRounds,
            error: function (jqXHR) {
                error(jqXHR, "#lastRounds")
            },
        })
    });

    function outputCkeyRounds(data) {
        let html = `
        <div class="table-responsive">
        <table class="table table-sm table-hover" id="last-rounds-table">
       <thead>
       <tr>
       <th scope="col">ID</th>
       <th scope="col">Дата</th>
       <th scope="col">Фракция</th>
       <th scope="col">Роль</th>
       <th scope="col">Результат</th>
       </tr>
       </thead>`;
        for (const indx in data) {
            const color = !!data[indx].Win ? "table-success" : "table-danger";
            const resultWord = !!data[indx].Win ? "Победа" : "Поражение";
            html += `
            <tr class=${color}>
                <td><a class="btn btn-primary btn-lg btn-sm" role="button" href="/round/${data[indx].RoundId}">${data[indx].RoundId}</a></td>
                <td>${data[indx].Date}</td>
                <td>${data[indx].FactionName}</td>
                <td>${data[indx].RoleName}</td>
                <td>${resultWord}</td>
            </tr>
            `;
        }
        html += `</table></div>`;

        $('#lastRounds').html(html);

        $(`#last-rounds-table`).DataTable({
            info: false,
            order: [[0, 'desc']],
            pageLength: 19,
            lengthChange: false,
        });
    }

    $("#role-buys-data").ready(function () {
        let html = ``;
        html += `<div class="row">`
        html += `<ul class="nav nav-justified nav-pills" role="tablist" aria-orientation="horizontal">`
        html += getRoleBuysTab("Uplink", true);
        html += getRoleBuysTab("Changling", false);
        html += getRoleBuysTab("Wizard", false);
        html += `</ul>`;
        html += `</div>`;
        html += `<div class="row tab-content">`;

        /*
        Пишу пока не забыл.
        Возможен прикол, что асинхронные ajax будут криво изменять html переменную из-за её захвата
        и не атомарного доступа к переменной.
        Решение: делать тут <div id="uplink-buy> и уже потом запускать аджаксы, которые будут менять дивы по id,
        так как к тем моментам будет построено дом дерево
         */
        const a1 = $.ajax({
            url: `/api/player/uplink_buys`,
            data: {ckey: playerCkey},
            success: function (data) {
                html += buysStatistics(data, "Uplink", true);
            },
        });
        const a2 = $.ajax({
            url: `/api/player/changling_buys`,
            data: {ckey: playerCkey},
            success: function (data) {
                html += buysStatistics(data, "Changling", false);
            },
        });
        const a3 = $.ajax({
            url: `/api/player/wizard_buys`,
            data: {ckey: playerCkey},
            success: function (data) {
                html += buysStatistics(data, "Wizard", false);
            },
        });
        Promise.all([a1, a2, a3]).then((values) => {
                html += `</div>`;
                $("#role-buys-data").html(html);
            });
    });

    function getRoleBuysTab(name, active) {
        const idName = name.toLowerCase();
        return `<li class="nav-item">
                <button
                        id="${idName}-buys-tab"
                        class="nav-link ${active ? "active" : ""}"
                        type="button"
                        role="tab"
                        aria-current="page"
                        data-bs-toggle="pill"
                        data-bs-target="#${idName}"
                        aria-expanded="true"
                        aria-controls="${idName}"
                >${name}
                </button>
            </li>`;
    }

    function buysStatistics(data, name, active) {
        const idName = name.toLowerCase();
        let html = ``;
        html += `<div class="tab-pane fade ${active ? "show active" : ""}" id="${idName}" role="tabpanel" aria-labelledby="${idName}-tab">`;

        if(data.length === 0) {
            html += `<div class="alert alert-danger mt-3 row" role="alert">Пусто</div>`;
            html += `</div>`;
            return html;
        }

        const aggregateDate = {};
        for (const buy of data) {
            const id = buy.Rolename.toLowerCase();
            if(!aggregateDate[id]) {
                aggregateDate[id] = [];
            }
            aggregateDate[id].push(buy);
        }

        html += `<div class="row mt-3">`;
        html += `<div class="nav flex-column nav-pills col-auto" id="v-pills-tab" role="tablist" aria-orientation="vertical">`
        let firstElemShown = false;
        Object.keys(aggregateDate).map((str) => {
            const roleId = str.replace(/\s/g, '');
            html += `<button
                type="button"
                role="tab"
                class="nav-link ${!firstElemShown ? "active" : ""} text-capitalize text-start"
                id="${roleId}-tab"
                data-bs-toggle="pill"
                data-bs-target="#${roleId}"
                aria-expanded="${!firstElemShown ? "true" : "false"}"
                aria-controls="${roleId}">
                ${str}
                </button>`;
            firstElemShown = true;
        });
        html += `</div>`;

        html += `<div class="tab-content col" id="v-pills-tabContent">`;
        firstElemShown = false;
        for (const roleName in aggregateDate) {
            const roleId = roleName.replace(/\s/g, '');
            html += `<div class="tab-pane fade ${!firstElemShown ? "show active" : ""}" id="${roleId}" role="tabpanel" aria-labelledby="${roleId}-tab">`;
            firstElemShown = true;
            html += `<div class="fs-5 badge bg-secondary text-wrap text-capitalize">${roleName}</div>`;
            html += `<div class="table-responsive">`
            html += `<table id="${roleId}-table" class="table table-sm table-hover">`;
            html += `<thead><tr>`;
            html += `<th>Покупка</th>`;
            html += `<th>Количество</th>`;
            html += `<th>Побед</th>`;
            html += `<th>Винрейт</th>`;
            html += `</tr></thead>`;
            html += `<tbody>`;
            for (const buy of aggregateDate[roleName]) {
                let color = "table-secondary";
                if(buy.Winrate > 75)
                    color = "table-success";
                else if(buy.Winrate < 40)
                    color = "table-danger";
                html += `<tr class=${color}>`;
                html += `<td>${buy.PowerName}</td>`;
                html += `<td>${buy.Count}</td>`;
                html += `<td>${buy.Wins}</td>`;
                html += `<td>${buy.Winrate}%</td>`;
                html += `</tr>`;
            }
            html += `</tbody>`
            html += `</table>`
            html += `</div>`
            html += `</div>`
        }
        html += `</div>`;

        html += `</div>`;

        html += `</div>`;
        return html;
    }

    $("#achievements").ready(function () {
        $.ajax({
            url: `/api/player/achievements`,
            data: {ckey: playerCkey},
            success: outputAchievementsChars,
            error: function (jqXHR) {
                error(jqXHR, "#achievements")
            },
        })
    });

    function outputAchievementsChars(data) {
        let html = ``;

        for (const achievement of data) {
            html += `
            <div class="card mt-2" style="width: 30rem;">
                <div class="card-header">
                  <b>${achievement.Title}</b>
                </div>
                <div class="card-body">
                  ${unescape(achievement.Desc)}
                </div>
                <footer class="blockquote-footer text-end me-1">
                  ${achievement.Name} in Round #${achievement.RoundId}
                </footer>
            </div>`;
        }

        $('#achievements').html(html);
    }


    function error(jqXHR, elem) {
        let errorMsg = JSON.stringify(jqXHR.responseJSON);
        if(jqXHR.responseJSON?.error === "nothing found")
            errorMsg = "Персонаж в БД не найден!";
        const msg = `<div class="alert alert-danger mt-3" role="alert">${errorMsg}</div>`;
        $(elem).html(msg);
    }

    function unescape(str) {
        return str.replace(/&amp;#34;/g, '"')
            .replace(/&amp;/g, '&')
            .replace(/&lt;/g, '<')
            .replace(/&gt;/g, '>')
            .replace(/&quot;/g, '"')
            .replace(/&#039;/g, "'");
    }

</script>