<!--Embed the header.html template at this location-->
{{ template "header.html" .}}


<div class="position-static">
    <div class="row position-absolute top-50 start-50 translate-middle">
        <div class="col">
            <div class="row">
                <h1 class="display-1">{{ .user }}</h1>
                <form method="post" name="collect" action="/admin/secrets">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Scan and
                        Collect
                    </button>
                </form>
            </div>
            <div class="row">
                <form method="POST" action="/admin/add_chronicle">
                    <div class="mb-3">
                        <label for="date" class="form-label">Дата события</label>
                        <input type="text" class="form-control" id="date" name="date" required>
                        <div class="form-text">Формат: ГГГГ-ММ-ДД</div>
                    </div>

                    <div class="mb-3">
                        <label for="event" class="form-label">Описание события</label>
                        <textarea class="form-control" id="event" name="event" rows="3" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
        <div class="col col-lg-6">
            <ul class="list-group list-group-numbered" style="height:150px; overflow-y: scroll;">
                {{range $key, $value := .logs}}
                    <li id={{ $key }} class="list-group-item">{{ $value }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}