<!--Embed the header.html template at this location-->
{{ template "header.html" .}}


<div class="position-static">
    <div class="row position-absolute top-50 start-50 translate-middle">
        <div class="col">
            <h1 class="display-1">{{ .user }}</h1>
            <form method="post" name="collect">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Scan and
                    Collect</button>
            </form>
        </div>
        <div class="col col-lg-6">
            <ul class="list-group list-group-numbered" style="height:150px; overflow-y: scroll;">
                {{range $key, $value := .logs}}
                <li id={{ $key }} class="list-group-item">{{ $value }}</li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>



<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}