{{ template "header.html" .}}

<div class="alert alert-info mt-4" role="alert">
    <h4 class="alert-heading">Пояснение к информации!</h4>
    В топ по режимам и ролям попадают только люди, которые сыграли больше <b>10 игр</b>!
    <br>
    Фича с разными серверами пока не имплементирована.
</div>


<div class="container">
    <div class="row">
        <h3 class="text-center border-bottom pb-2">Всякое</h3>
        {{ range $index, $element := .topSlice }}
            {{ if eq $element.Tag 0 }}
                <div class="col-sm-12 col-lg-4">
                    <ul class="list-group list-group-flush">
                        <div class="fs-5 badge bg-secondary text-wrap">
                            Топ-10 {{ $element.Title }}
                        </div>
                    </ul>
                    <div class="table-responsive">
                        <table ID="{{ $element.ID }}" class="table table-sm table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th scope="col">{{ $element.KeyColumnName }}</th>
                                <th scope="col">{{ $element.ValueColumnName }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range .TopMembers }}
                                <tr>
                                    <td></td>
                                    <td style="white-space: nowrap">{{ .Key }}</td>
                                    <td>{{ .Value }}{{ $element.ValuePostfix }}</td>
                                </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
    <!-- Full copypase of the code above-->
    <div class="row">
        <h3 class="text-center border-bottom pb-2">Одиночные и командные роли</h3>
        {{ range $index, $element := .topSlice }}
            {{ if eq $element.Tag 1 }}
                <div class="col-sm-12 col-lg-4">
                    <ul class="list-group list-group-flush">
                        <div class="fs-5 badge bg-secondary text-wrap">
                            Топ-10 {{ $element.Title }}
                        </div>
                    </ul>
                    <div class="table-responsive">
                        <table ID="{{ $element.ID }}" class="table table-sm table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th scope="col">{{ $element.KeyColumnName }}</th>
                                <th scope="col">{{ $element.ValueColumnName }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range .TopMembers }}
                                <tr>
                                    <td></td>
                                    <td style="white-space: nowrap">{{ .Key }}</td>
                                    <td>{{ .Value }}{{ $element.ValuePostfix }}</td>
                                </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
</div>

{{ template "footer.html" .}}
<script>
    $(function () {
        {{ range .topSlice }}
        $('#{{ .ID }}').DataTable({
            paging: false,
            searching: false,
            info: false,
            ordering: false,
            rowCallback: function (oSettings) {
                var table = $('#{{ .ID }}').dataTable(), // получаем таблицу
                    rows = table.fnGetNodes(); // получаем все строки, а не только на текущей страниц

                $(rows).each(function () {
                    $(this).find('td:first').text(this._DT_RowIndex + 1);
                });
            }
        });
        {{ end }}
        {{ range .gamemodeTopSlice }}
        $('#{{ .ID }}').DataTable({
            paging: false,
            searching: false,
            info: false,
            ordering: false,
            rowCallback: function (oSettings) {
                var table = $('#{{ .ID }}').dataTable(), // получаем таблицу
                    rows = table.fnGetNodes(); // получаем все строки, а не только на текущей страниц

                $(rows).each(function () {
                    $(this).find('td:first').text(this._DT_RowIndex + 1);
                });
            }
        });
        {{ end }}
    });
</script>