{{ template "header.html" .}}

<div class="container mt-4">
    <div class="row">
        <h3 class="text-center border-bottom">Всякое</h3>
        {{ range $index, $element := .topSlice }}
            <div class="col-3">
                <ul class="list-group list-group-flush">
                    <div class="fs-5 badge bg-secondary text-wrap">
                        Топ-10 {{ $element.Title }}
                    </div>
                </ul>
                <table id="{{ $element.Id }}" class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th scope="col">{{ $element.NameColumn }}</th>
                        <th scope="col">{{ $element.CountColumn }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range .PlayersInfo }}
                        <tr>
                            <td></td>
                            <td style="white-space: nowrap">{{ .Name }}</td>
                            <td>{{ .Value }}{{ $element.ValuePostfix }}</td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        {{ end }}
    </div>
    <!-- Full copypase of the code above-->
    <div class="row">
        <h3 class="text-center border-bottom">Одиночные и командные роли</h3>
        {{ range $index, $element := .gamemodeTopSlice }}
            <div class="col-3">
                <ul class="list-group list-group-flush">
                    <div class="fs-5 badge bg-secondary text-wrap">
                        Топ-10 {{ $element.Title }}
                    </div>
                </ul>
                <table id="{{ $element.Id }}" class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th scope="col">{{ $element.NameColumn }}</th>
                        <th scope="col">{{ $element.CountColumn }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range .PlayersInfo }}
                        <tr>
                            <td></td>
                            <td style="white-space: nowrap">{{ .Name }}</td>
                            <td>{{ .Value }}{{ $element.ValuePostfix }}</td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        {{ end }}
    </div>
</div>

{{ template "footer.html" .}}
<script>
    $(function () {
        {{ range .topSlice }}
        $('#{{ .Id }}').DataTable({
            paging: false,
            searching: false,
            info: false,
            ordering: false,
            rowCallback: function (oSettings) {
                var table = $('#{{ .Id }}').dataTable(), // получаем таблицу
                    rows = table.fnGetNodes(); // получаем все строки, а не только на текущей страниц

                $(rows).each(function () {
                    $(this).find('td:first').text(this._DT_RowIndex + 1);
                });
            }
        });
        {{ end }}
        {{ range .gamemodeTopSlice }}
        $('#{{ .Id }}').DataTable({
            paging: false,
            searching: false,
            info: false,
            ordering: false,
            rowCallback: function (oSettings) {
                var table = $('#{{ .Id }}').dataTable(), // получаем таблицу
                    rows = table.fnGetNodes(); // получаем все строки, а не только на текущей страниц

                $(rows).each(function () {
                    $(this).find('td:first').text(this._DT_RowIndex + 1);
                });
            }
        });
        {{ end }}
    });
</script>