<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="alert alert-info mt-4" role="alert">
    <h4 class="alert-heading">Пояснение к информации!</h4>
    <p>Все покупки в аплинке разделены на группы по ролям. У группы указана сама роль и сколько ролей вообще
        использовали аплинк.</p>
    <hr>
    <p>Колонки:</p>
    <ul>
        <li>Общее количество - сколько в сумме куплено предметов.</li>
        <li>Уникальное кол-во - была ли покупка в раунде.</li>
        <li>Победы и винрейт высчитываются из Уникального количества.</li>
        <li>Потрачено ТК - сколько в сумме было потрачено телекристаллов.</li>
    </ul>
</div>

<div class="container mt-4">
    <div id="left_col">
        <div class="spinner-border" role="status"></div>
    </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}

<script>
    startPost({})

    $("#date_start").change(function () {
        startPost({date_start: $(this).val()})
    });

    $("#date_end").change(function () {
        startPost({date_end: $(this).val()})
    });

    function startPost(dates) {
        $("#left_col").html(`<div class="spinner-border" role="status"></div>`)

        $.post("/api/uplink", dates, createHtml, "json")
    }

    const HumanColumnName = {
        "Name": "Название",
        "Count": "Уник. кол-во",
        "TotalCount": "Общее кол-во",
        "Wins": "Побед",
        "Winrate": "Винрейт",
        "TotalCost": "Потрачено ТК",
    }

    let myData = {};

    function createHtml(data) {
        myData = Object.keys(data).sort().reduce(
            (obj, key) => {
                obj[key] = data[key];
                return obj;
            },
            {}
        )
        const dataKeys = Object.keys(myData)
        const dataAbilities = Object.keys(myData[dataKeys[0]].UplinkInfos)
        let firstElemShown = false
        let leftColItems = dataKeys.map((str) => {
            const button = `<button
                type="button"
                role="tab"
                class="nav-link ${!firstElemShown ? "active" : ""} text-start"
                id="${str}-tab"
                data-bs-toggle="pill"
                data-bs-target="#${str}"
                aria-expanded="${!firstElemShown ? "true" : "false"}"
                aria-controls="${str}">
                  ${myData[str].Name} <span class="badge bg-primary rounded-pill">${myData[str].Count}</span>
                </button>`
            firstElemShown = true
            return button;
        })
        let leftCol = `<div class="row">`
        leftCol += `<div class="nav flex-column nav-pills col-auto" id="v-pills-tab" role="tablist" aria-orientation="vertical">${leftColItems.join("")}</div>`

        let dataCol = `<div class="tab-content col" id="v-pills-tabContent">`
        const tableHeaders = Object.keys(myData[dataKeys[0]].UplinkInfos[dataAbilities[0]]).map((str) => `<th scope="col" class="text-nowrap">${HumanColumnName[str]}</th>`)
        firstElemShown = false
        for (const key in myData) {
            dataCol += `<div class="tab-pane fade ${!firstElemShown ? "show active" : ""}" id="${key}" role="tabpanel" aria-labelledby="${key}-tab">`
            firstElemShown = true
            dataCol += `<div class="fs-5 badge bg-secondary text-wrap">${myData[key].Name}</div>`
            dataCol += `<div class="table-responsive">`
            dataCol += `<table id="${key}-table" class="table table-sm table-hover table-striped">`
            dataCol += `<thead><tr>`
            dataCol += tableHeaders.join("")
            dataCol += `</tr></thead>`
            dataCol += `<tbody>`
            for (const ability in myData[key].UplinkInfos) {
                dataCol += `<tr>`
                for (const abilityHeader in myData[key].UplinkInfos[ability]) {
                    const abilityRow = myData[key].UplinkInfos[ability][abilityHeader];
                    if (abilityHeader === "Name") {
                        dataCol += `<th scope="row" class="obj-type">${abilityRow}</th>`
                    } else if (abilityHeader === "Winrate") {
                        dataCol += `<td>${abilityRow}%</td>`
                    } else {
                        dataCol += `<td>${abilityRow}</td>`
                    }
                }
                dataCol += `</tr>`
            }
            dataCol += `</tbody>`
            dataCol += `</table>`
            dataCol += `</div>`
            dataCol += `</div>`
        }

        dataCol += `</div>`
        dataCol += `</div>`

        leftCol += dataCol + `</div>`
        $("#left_col").html(leftCol)

        for (const key in myData) {
            $(`#${key}-table`).DataTable({
                paging: false,
                searching: false,
                info: false,
            });
        }

    }
</script>